body {
  font-family: Arial, sans-serif;
  background-color: #f0f4f8;
  margin: 0;
  padding: 20px;
}

.resume {
  max-width: 700px;
  background: white;
  margin: auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.resume h1 {
  color: #000000;
  margin-bottom: 5px;
}

.college {
  color: #636161;
  font-style: italic;
  margin-bottom: 20px;
}

section {
  margin-bottom: 20px;
}

section h2 {
  color: #000000;
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

ul {
  list-style-type: square;
  padding-left: 20px;
}

ul li {
  margin-bottom: 5px;
}
